﻿@model PassionProject.Models.ViewModels.ShowCount


@{
    ViewBag.Title = "List";
}
<style>
        .flex-nav {
            border-bottom: 0.5px solid grey;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }

        h2 {
            color: #274060;
        }

        .flex-nav > a {
            text-decoration: none;
            color: #335C81;
        }

        .genre-list-item {
            height: auto;
            width: 30%;
            padding: 0.5em 0em;
        }
        /*
        .flex-nav>a:hover{
            color:
        }
    */

    .genre-name > a {
        text-decoration: none;
        color: darkslategrey;
    }

</style>
<div class="flex-nav">
    <h2>List <span>@Model.totalGenres</span></h2>
    <a href="./New">New Genre</a>
</div>
@foreach (var genre in Model.Genres)

    
        {<div class="genre-list-item">
    <h5 class="genre-name"><a href="./Detail/@genre.GenreId">@genre.Name</a></h5><span>@genre.GenreId</span>
    
</div>
    //<div>Publication Year: @book.PublicationYear</div>
    //<div>Author: @book.Author.</div>


} 